<configuration>
  <appName>TestSite</appName>
  <!-- Name of the website that will be shown in 2fa apps -->

  <pageSize>10</pageSize>
  <!-- The page size of the user dashboard in the 2fa section -->

  <timeoutTime>5</timeoutTime>
  <!-- TimoutTime is The amount of minutes a user has to enter their 2fa code before the user gets timedout and has to re-enter their mail and password -->

  <browserRememberTime>0</browserRememberTime>
  <!-- BrowserRememberTime is the amount of minutes a user does not need to re-enter their 2fa code while loggin in, during this time the user will only need to enter their mail and password -->

  <mailSettings>
    <fromAddress>test@test.com</fromAddress>
    <!-- The mail address that the 2fa code will be sent from -->

    <subject>Your 2fa code</subject>
    <!-- The subject of the mail that is send when sending a 2fa code through mail -->

    <message>Your 2fa code is: {0}</message>
    <!-- 
    The Email that is send to the user when logging in with 2fa through mail
    This message should contain {0}
    {0} Will be replaced with the 2fa code in the actual mail
    -->
  </mailSettings>

</configuration>
